FIRESTORE_PROJECT_ID="attendance-based-distribution"
FIREBASE_ADMIN_TYPE="service account"
FIREBASE_PRIVATE_KEY_ID="your-private-key-id"
FIREBASE_PRIVATE_KEY="your-private-key"
FIREBASE_CLIENT_EMAIL="your-firebase-client-email"
FIREBASE_CLIENT_ID="your-firebase-client-id"
FIREBASE_AUTH_URI="https://accounts.google.com/o/oauth2/auth"
FIREBASE_TOKEN_URI="https://oauth2.googleapis.com/token"
FIREBASE_AUTH_PROVIDER_X509_CERT_URL="https://www.googleapis.com/oauth2/v1/certs"
FIREBASE_CLIENT_X509_CERT_URL="your-firebase-client-cert-url"
FIREBASE_UNIVERSE_DOMAIN="googleapis.com"
APP_PORT=3001
FIREBASE_DEFAULT_SUPER_USER_UID="your-super-user-uid"